!===============================================================================
!FILE:		.Xresources
!PLATFORMS:	GNU/Linux
!AUTHOR(s):	Larson, Micah P.
!DEPENDENCIES:	None
!===============================================================================

! Color scheme matches hybrid.vim
#define t_black                #373b41
#define t_black_bright         #282a2e
#define t_red                  #cc6666
#define t_red_bright           #a54242
#define t_orange               #de935f
#define t_yellow               #f0c674
#define t_green                #b5bd68
#define t_green_bright         #8c9440
#define t_cyan                 #8abeb7
#define t_cyan_bright          #5e8d87
#define t_blue                 #81a2be
#define t_blue_bright          #5f819d
#define t_purple               #b294bb
#define t_purple_bright        #85678f
#define t_white                #c5c8c6
#define t_white_bright         #969896

#define t_gnome_theme_mist     #729fcf

#define t_background           #1d1f21
#define t_foreground           #c5c8c6
#define t_current_line         #282a2e
#define t_selection            #373b41
#define t_comment              #969896

#define t_scrollbar_background #1d1f21
#define t_scrollbar_foreground #729fcf

! Color scheme matches sorceror.vim
! #define t_black                #444444
! #define t_black_bright         #343434
! #define t_red                  #cf6a4c
! #define t_red_bright           #bf5a3c
! #define t_orange               #fad07a
! #define t_yellow               #ffb964
! #define t_green                #556633
! #define t_green_bright         #99ad6a
! #define t_cyan                 #8fbfdc
! #define t_cyan_bright          #7fafcc
! #define t_blue                 #668799
! #define t_blue_bright          #b0b8c0
! #define t_purple               #5f3cba
! #define t_purple_bright        #c6b6ee
! #define t_white                #888888
! #define t_white_bright         #e8e8d3
!
! #define t_background           #151515
! #define t_foreground           t_white
! #define t_current_line         t_black_bright
! #define t_selection            t_black
! #define t_comment              #efefcf
!
! #define t_scrollbar_background t_black_bright 
! #define t_scrollbar_foreground t_gnome_theme_mist


! Xft settings -----------------------------------------------------------------
Xft.antialias:	1
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.rgba:	rgb

! xterm preferences ------------------------------------------------------------
! Black ---------------
xterm*color0:	t_current_line
xterm*color8:	t_selection
! Red -----------------
xterm*color1:	t_red_bright
xterm*color9:	t_red
! Green ---------------
xterm*color2:	t_green_bright
xterm*color10:	t_green
! Yellow --------------
xterm*color3:	t_orange
xterm*color11:	t_yellow
! Blue ----------------
xterm*color4:	t_blue_bright
xterm*color12:	t_blue
! Magenta -------------
xterm*color5:	t_purple_bright
xterm*color13:	t_purple
! Cyan ----------------
xterm*color6:	t_cyan_bright
xterm*color14:	t_cyan
! White ---------------
xterm*color7:	t_white_bright
xterm*color15:	t_foreground

xterm*background:		t_background
xterm*foreground:		t_comment
xterm*dynamicColors:		true
xterm*faceName:			inconsolata:pixelsize=20
xterm*scrollbar*background:	t_scrollbar_background
xterm*scrollbar*foreground:	t_scrollbar_foreground
xterm*geometry:			128x40
xterm*rightScrollBar:		true
xterm*saveLines:		5000
xterm*toolBar:			true
xterm*jumpScroll:		true
xterm*multiScroll:		true
xterm*cursorBlink:		true

xterm*charClass:	33:48,36-38:48,43-46:48,58:48,61:48,63-64:48,126:48
xterm*on2Clicks:	word
xterm*on3Clicks:	regex [^ \n]+
xterm*on4Clicks:	line
xterm*on5Clicks:	group

! xpdf preferences -------------------------------------------------------------
xpdf*enableFreetype:	yes
xpdf*antialias:		yes
xpdf*foreground:	white
xpdf*background:	black
xpdf*urlCommand:	/usr/bin/firefox %s

! lal (clock for the dock -- we don't have this at the moment) -----------------
lal*font:	Arial
lal*fontsize:	12
lal*bold:	true
lal*color:	#ffffff
lal*width:	150
lal*format:	%a %b %d %1:%M:%P

! xclock -----------------------------------------------------------------------
xclock*update:		1
xclock*analog:		false
xclock*foreground:	white
xclock*background:	black

! nedit ------------------------------------------------------------------------
nedit*shell:		/bin/zsh
nedit*text.background:	Wheat

! gnuplot ----------------------------------------------------------------------
gnuplot*background:	#151515

gnuplot*borderColor:	#E8E8E8
gnuplot*borderWidth:	2

gnuplot*axisColor:	#E8E8E8
gnuplot*axisWidth:	2

! red -----------------
gnuplot*line1Color:	#BF5A3C
gnuplot*line1Width:	2
! green ---------------
gnuplot*line2Color:	#99AD6A
gnuplot*line2Width:	2
! blue ----------------
gnuplot*line3Color:	#B0B8C0
gnuplot*line3Width:	2
! magenta -------------
gnuplot*line4Color:	#C6B6EE
gnuplot*line4Width:	2
! cyan ----------------
gnuplot*line5Color:	#7FAFCC
gnuplot*line5Width:	2
! yellow --------------
gnuplot*line6Color:	#FAD07A
gnuplot*line6Width:	2

gnuplot*textColor:	#E8E8E8

! emacs ------------------------------------------------------------------------
Emacs.Foreground: #AAAAAA
Emacs.Background: #343434
Emacs.menu.attributeForeground: #E8E8D3
Emacs.menu.attributeBackground: #444444

